<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 text-center">
                <h2 class="section-title">{{ .title | markdownify }}</h2>
            </div>
            <ul class="timeline">
            {{ range .jobs }}
                <li>
                    <div class="timeline-item-title h4 d-flex justify-content-between align-items-center">
                        {{ .title }}
                        <span class="timeline-item-date badge badge-primary badge-pill">{{ dateFormat "Jan, 2006" .date }}</span>
                    </div>
                    <div class="timeline-item-subtitle">{{ .company }}</div>
                    <div class="timeline-item-content text-dark">{{ .content | markdownify }}</div>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>